services:
  jekyll-site:
    image: jekyll-site
    build: .
    volumes: [ .:/usr/src/app ]
    ports: [ 4000:4000 ]
    user: "${UID:-1000}:${GID:-1000}"
    environment:
      JEKYLL_ENV: development
    command: bundle exec jekyll serve -H 0.0.0.0 -w -l --force_polling
