\item \emph{\VAR{entry.title|tex}}%
\BLOCK{if entry.event}, \VAR{entry.event|tex}\BLOCK{elif entry.institution}, \VAR{entry.institution|tex}\BLOCK{endif}%
\BLOCK{if entry.location}, \VAR{entry.location|tex}\BLOCK{endif}%
\BLOCK{if entry.date} \hfill \VAR{entry.date|year}\BLOCK{endif}%
\BLOCK{if entry.slides}\\ \href{\VAR{entry.slides}}{\footnotesize slides}\BLOCK{endif}
