\item \textbf{\VAR{entry.title|tex}}%
\BLOCK{if entry.role} (\VAR{entry.role|tex})\BLOCK{endif}%
\BLOCK{if entry.institution}, \VAR{entry.institution|tex}\BLOCK{endif}%
\BLOCK{if entry.term} \hfill \VAR{entry.term|tex}\BLOCK{endif}
